.small_1, .small_2, .small_3, .small_4, .small_5, .small_6, .small_7, .small_8, .small_9, .small_10, .small_11, .small_12,
.medium_1, .medium_2, .medium_3, .medium_4, .medium_5, .medium_6, .medium_7, .medium_8, .medium_9, .medium_10, .medium_11, .medium_11, .medium_12,
.large_1, .large_2, .large_3, .large_4, .large_5, .large_6, .large_7, .large_8, .large_9, .large_10, .large_11, .large_12 {
    float: left;
    box-sizing: border-box;
}
.offset_1 {
    margin-left: 8.33%;
}
.offset_2 {
    margin-left: 16.66%;
}
.offset_3 {
    margin-left: 24.99%;
}
.offset_4 {
    margin-left: 33.32%;
}
.offset_5 {
    margin-left: 41.65%;
}
.offset_6 {
    margin-left: 50%;
}
.offset_7 {
    margin-left: 58.31%;
}
.offset_8 {
    margin-left: 66.64%;
}
.offset_9 {
    margin-left: 74.97%;
}
.offset_10 {
    margin-left: 83.33%;
}
.offset_11 {
    margin-left: 91.63%;
}
.offset_12 {
    margin-left: 100%;
}

@media screen and (max-width: 480px) {
    .small_1 {
        width: 8.33%;
    }
    .small_2 {
        width: 16.66%;
    }
    .small_3 {
        width: 24.99%;
    }
    .small_4 {
        width: 33.32%;
    }
    .small_5 {
        width: 41.65%;
    }
    .small_6 {
        width: 50%;
    }
    .small_7 {
        width: 58.31%;
    }
    .small_8 {
        width: 66.64%;
    }
    .small_9 {
        width: 74.97%;
    }
    .small_10 {
        width: 83.33%;
    }
    .small_11 {
        width: 91.63%;
    }
    .small_12 {
        width: 100%;
    }
    .offset_sm_1 {
        margin-left: 8.33%;
    }
    .offset_sm_2 {
        margin-left: 16.66%;
    }
    .offset_sm_3 {
        margin-left: 24.99%;
    }
    .offset_sm_4 {
        margin-left: 33.32%;
    }
    .offset_sm_5 {
        margin-left: 41.65%;
    }
    .offset_sm_6 {
        margin-left: 50%;
    }
    .offset_sm_7 {
        margin-left: 58.31%;
    }
    .offset_sm_8 {
        margin-left: 66.64%;
    }
    .offset_sm_9 {
        margin-left: 74.97%;
    }
    .offset_sm_10 {
        margin-left: 83.33%;
    }
    .offset_sm_11 {
        margin-left: 91.63%;
    }
    .offset_sm_12 {
        margin-left: 100%;
    }
}
@media screen and (min-width: 481px) and (max-width: 960px) {
    .medium_1 {
        width: 8.33%;
    }
    .medium_2 {
        width: 16.66%;
    }
    .medium_3 {
        width: 24.99%;
    }
    .medium_4 {
        width: 33.32%;
    }
    .medium_5 {
        width: 41.65%;
    }
    .medium_6 {
        width: 50%;
    }
    .medium_7 {
        width: 58.31%;
    }
    .medium_8 {
        width: 66.64%;
    }
    .medium_9 {
        width: 74.97%;
    }
    .medium_10 {
        width: 83.33%;
    }
    .medium_11 {
        width: 91.63%;
    }
    .medium_12 {
        width: 100%;
    }
    .offset_md_1 {
        margin-left: 8.33%;
    }
    .offset_md_2 {
        margin-left: 16.66%;
    }
    .offset_md_3 {
        margin-left: 24.99%;
    }
    .offset_md_4 {
        margin-left: 33.32%;
    }
    .offset_md_5 {
        margin-left: 41.65%;
    }
    .offset_md_6 {
        margin-left: 50%;
    }
    .offset_md_7 {
        margin-left: 58.31%;
    }
    .offset_md_8 {
        margin-left: 66.64%;
    }
    .offset_md_9 {
        margin-left: 74.97%;
    }
    .offset_md_10 {
        margin-left: 83.33%;
    }
    .offset_md_11 {
        margin-left: 91.63%;
    }
    .offset_md_12 {
        margin-left: 100%;
    }

}
@media screen and (min-width: 961px) {
    .large_1 {
        width: 8.33%;
    }
    .large_2 {
        width: 16.66%;
    }
    .large_3 {
        width: 24.99%;
    }
    .large_4 {
        width: 33.32%;
    }
    .large_5 {
        width: 41.65%;
    }
    .large_6 {
        width: 50%;
    }
    .large_7 {
        width: 58.31%;
    }
    .large_8 {
        width: 66.64%;
    }
    .large_9 {
        width: 74.97%;
    }
    .large_10 {
        width: 83.33%;
    }
    .large_11 {
        width: 91.63%;
    }
    .large_12 {
        width: 100%;
    }
    .offset_lg_1 {
        margin-left: 8.33%;
    }
    .offset_lg_2 {
        margin-left: 16.66%;
    }
    .offset_lg_3 {
        margin-left: 24.99%;
    }
    .offset_lg_4 {
        margin-left: 33.32%;
    }
    .offset_lg_5 {
        margin-left: 41.65%;
    }
    .offset_lg_6 {
        margin-left: 50%;
    }
    .offset_lg_7 {
        margin-left: 58.31%;
    }
    .offset_lg_8 {
        margin-left: 66.64%;
    }
    .offset_lg_9 {
        margin-left: 74.97%;
    }
    .offset_lg_10 {
        margin-left: 83.33%;
    }
    .offset_lg_11 {
        margin-left: 91.63%;
    }
    .offset_lg_12 {
        margin-left: 100%;
    }

}

.clearfix {
    clear: both;
}